@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-l {
    font-family: "Outfit";
    font-size: 32px;
    font-weight: 300;
  }

  .heading-m {
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 300;
  }

  .heading-s {
    font-family: "Outfit";
    font-size: 24px;
    font-weight: 500;
  }

  .heading-xs {
    font-family: "Outfit";
    font-size: 18px;
    font-weight: 500;
  }

  .body-m {
    font-family: "Outfit";
    font-size: 15px;
    font-weight: 300;
  }

  .body-s {
    font-family: "Outfit";
    font-size: 13px;
    font-weight: 300;
    opacity: 0.75;
  }

  .background-red {
    background-color: #fc4747;
  }

  .text-red {
    color: #fc4747;
  }

  .background-dark-blue {
    background-color: #10141e;
    grid-column: 2;
  }

  .text-dark-blue {
    color: #10141e;
  }

  .background-greyish-blue {
    background-color: #5a698f;
  }

  .text-greyish-blue {
    color: #5a698f;
  }

  .background-semidark-blue {
    background-color: #161d2f;
  }

  .text-semidark-blue {
    color: #161d2f;
  }

  .btn {
    background-color: #fc4747;
    color: #ffffff;
  }

  .btn:hover {
    background-color: #ffffff;
    color: #161d2f;
  }
  form.nosubmit {
    border: none;
    padding: 0;
  }

  .content-heading {
    font-size: 20px;
    font-family: "Outfit";
    font-weight: 400;
    margin-left: 16px;
  }

  @media (min-width: 768px) {
    .content-heading {
      @apply heading-l;
      margin-left: 25px;
    }
  }

  input.nosubmit {
    width: 95%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    display: block;
    padding: 9px 4px 9px 56px;
    font-size: 16px;
    background: transparent url("./assets/icons/icon-search.svg") no-repeat 13px
      center;
    background-size: 24px 24px;
    @media (min-width: 768px) {
      background-size: 32px 32px;
      padding: 9px 4px 9px 64px;
      font-size: 24px;
    }
  }

  input.nosubmit:focus-visible {
    border-bottom: 1px solid #5a698f;
  }
  input.nosubmit:not(:focus) {
    border-bottom: 0px;
  }
}

.bookmark-icon {
  top: 12%;
  right: 10%;
  z-index: 10;
}
.movie-icon {
  font-size: 4px;
}

.profile-image-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ef4444;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.expanding-navbar {
  background-color: #161d2f;
  border-radius: 20px;
  width: 96px;
  height: 90vh;
  transition: height 0.1s ease-in-out;
}

@layer utilities {
  .profile-image-large {
    @apply rounded-[20px] shadow-white w-[10rem] h-[7rem] md:w-[13rem] md:h-[10rem] lg:w-[19rem] lg:h-[16rem];
  }

  .expanding-navbar {
    @apply  lg:w-[96px] lg:h-[960px] lg:flex-col lg:px-0 lg:rounded-[20px] transition-all duration-100 ease-in-out;
    transition-property: height;
  }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
}
